<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Beyond The Screen</title>
<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<header>
<nav class="navbar">
<div class="logo">Beyond The Screen</div>
<ul class="nav-links">
<li><a href="../">Home</a></li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./games.html">Games</a></li>
</ul>
</nav>
</header>

<div class="container">
<ul class="blog-list" id="blog-list"> <li class="blog-item"><div class="blog-title"><a href="./page0.html">Make a Simple Personal Blog System in Go</a></div><div class="published-date">Published on Saturday, March 14th 2026</div></li><li class="blog-item"><div class="blog-title"><a href="./page1.html">Script as Resource for Better Design Pattern</a></div><div class="published-date">Published on Saturday, March 28th 2026</div></li><li class="blog-item"><div class="blog-title"><a href="./page2.html">The Embracement of Legacy Technology</a></div><div class="published-date">Published on Saturday, April 11th 2026</div></li><li class="blog-item"><div class="blog-title"><a href="./page3.html">Sane C/C++ Build System</a></div><div class="published-date">Published on Sunday, April 4th 2026</div></li> </ul></div>
</body>
<footer>
© 2026 Beyond The Screen | All Rights Reserved
</footer>
</html>