<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Beyond The Screen</title>
<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<header>
<nav class="navbar">
<div class="logo">Beyond The Screen</div>
<ul class="nav-links">
<li><a href="../">Home</a></li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./games.html">Games</a></li>
</ul>
</nav>
</header>

<div class="container">
 <main class="main-content">

<div class="post-header" id="title">
<h1>Some of Games I've Made
</h1>
<div class="post-meta" id="date">

</div>
</div>

<div class="post-body" id="body">
<h2>Giggles And Gold
</h2><figure class="blog-image">
		<img src=../static/images/giggles.png alt=Giggles And Gold>
		<figcaption>Giggles And Gold
</figcaption></figure><p>Commercial 2D mobile game.
</p><li><a href="../games/giggles-and-gold">Play</a>
</li><h2>Beyonddd JS Example
</h2><figure class="blog-image">
		<img src=../static/images/beyondddjs.png alt=BeyondddJS Repository>
		<figcaption>BeyondddJS Repository
</figcaption></figure><figure class="blog-image">
		<img src=../static/images/beyondddjs_example.png alt=BeyondddJS Example>
		<figcaption>BeyondddJS Game Example
</figcaption></figure><p>Game example made with my own small 2D HTML5 game library, BeyondddJS.
</p><li><a href="../games/beyonddd-js-example">Play</a>
</li><li><a href="https://github.com/beyondchan28/Beyonddd-JS">Library Link</a>
</li><h2>More...
</h2><p>Other of my non-web games can be found below !
</p><li>Itch      : <a href="https://beyonddd.itch.io/">here</a> & <a href="https://thefarmers.itch.io/">here</a>
</li>
</div>

<div class="post-footer" id="footer">
<em>There's more of this, but they are not published :)</em>
</div>

</main></div>
</body>
<footer>
© 2026 Beyond The Screen | All Rights Reserved
</footer>
</html>