<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Beyond The Screen</title>
<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<header>
<nav class="navbar">
<div class="logo">Beyond The Screen</div>
<ul class="nav-links">
<li><a href="../">Home</a></li>
<li><a href="./blog.html">Blog</a></li>
<li><a href="./games.html">Games</a></li>
</ul>
</nav>
</header>

<div class="container">
 <main class="main-content">

<div class="post-header" id="title">
<h1>Programming Language of Choice Is Irrelevant
</h1>
<div class="post-meta" id="date">
<i>Published on Monday, May 11th 2026
</i>
</div>
</div>

<div class="post-body" id="body">
<p>There is a lot of programming languages that been use to make software and every language has its own tooling, such as compiler, build system, framework, standard library, and much more. All of the tooling are mostly an obligatory part of the language. Because of this, it is impossible for us to learn all of it in our live time.
</p><p>But, we as a human have the capacity to recognize pattern and rules. So, to tackle this impossibilty to use every single technology a little trivial. Every single programming languages lies wihtin five aspects, namely syntax, semantics, data types, and control structures. If you have been engage with programming for some decent amount of times, you might already come across to these key aspects. But, you also not really knew what are these really means.
</p><p>In this article, I will explain these aspects will help you to tackel the problem of using many different technology even though you are never using them before.
</p><h2>The Big Picture of Programming Language
</h2><p>If you had enough of programming for atleast 10k lines of code in any language, you might notice that, almost everytime you think on making feature, its always start on how to layout your data. As in OOP, if we want to create a Car, we define its attributes such as amount of tires, fuel type, brand, and so on by declaring them as the member/property of class Car. After that, we create the functionality of the Car, such as Engine, Honking sound, and so on as the methods/functions of inside the Car class.
</p><p>Maybe you think, i already know all of this, and what this has to do with anything?
</p><p>This simple way of breaking down concept is applicable on any programming language. Even though the language itself doesn't support OOP.
</p><p>For example, in C, which didn't comes with OOP, we still can do make the Car class example happen. The attributes and functionality is not wrapped/grouped in one place.
</p><p>By this example, you can see that in general, programming language is just a way for us to dictate how the data should be organized. It is as simple as that.
</p><h2>The 4 Aspects of Programming Languages
</h2><p>Every single programming have these aspects:
</p><li>Syntax : How the language is typed.
</li><li>Semantics : What the text you typed means.
</li><li>Data types : How data represented and treated (class, struct, array, list, map).
</li><li>Control structures : Logical statements (if/else) and repeating tasks (for/while).
</li><p>There are many more aspects if you googling yourself but fundamentally, everything lise within these three aspects.
</p><p>Every language have its way to be written (syntax). Even though you its typed differently, the meaning behind it all are the same. Declaring variable, groupping variable, implementations inside a functions, and so on. Every program also need some conditions to control how the data should be done by using control structures.
</p><p>Therefore, it is safe to say that programming language are just a tool to express our mind and logical thinking as a computer program.
</p><h2>Conclusion
</h2><p>At some point of being a Software Engineer, programming language or whatever framework/engines/technology we use to make software become irrelevant on potraying what our capable of making. As a purpose of any language, it is just a way for us to express our logical and knowledge as a computer program.
</p><p>As Tsoding, the Messiah of Recreational Programming pinned a message in his X (twitter) account:
</p><figure class="blog-image">
		<img src=../static/images/tsoding.png alt=Tsoding Pinned Tweet>
		<figcaption>Tsoding Pinned Tweet
</figcaption></figure>
</div>

<div class="post-footer" id="footer">
<em>Tag: Programming Wisdom, YippiYippiYappaYappa</em>
</div>

</main></div>
</body>
<footer>
© 2026 Beyond The Screen | All Rights Reserved
</footer>
</html>